.logoanimado{
        animation: animacion 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        }
@keyframes animacion {
    from{
transform:translate(500%)
    }
    to{
transform: translate(0%);
    }
}
